trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: 'self-hosted'

variables:
  pythonVersion: '3.11'

steps:
- task: UsePythonVersion@0
  displayName: 'Set up Python'
  inputs:
    versionSpec: '$(pythonVersion)'
    addToPath: true

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    pylint calculator main.py
  displayName: 'Run pylint'

- script: |
    pytest --cov=calculator --cov-report=xml:coverage.xml --cov-fail-under=80
  displayName: 'Run tests with coverage (>= 80%)'

- task: PublishCodeCoverageResults@2
  displayName: 'Publish coverage report'
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: 'coverage.xml'
    reportDirectory: '$(System.DefaultWorkingDirectory)'
    failIfCoverageEmpty: true