trigger:
  branches:
    include:
      - main
      - development

pr:
  branches:
    include:
      - main
      - development

pool:
  vmImage: 'ubuntu-latest'

variables:
  pythonVersion: '3.11'

steps:
- task: UsePythonVersion@0
  displayName: 'Set up Python'
  inputs:
    versionSpec: '$(pythonVersion)'
    addToPath: true

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    pylint calculator main.py
  displayName: 'Run pylint'

- script: |
    pytest --cov=calculator --cov-report=xml --cov-fail-under=80
  displayName: 'Run tests with coverage (>= 80%)'
