trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  # name: 'self-hosted'
  vmImage: 'ubuntu-latest'

variables:
  pythonVersion: '3.11'

steps:
- script: |
    python3 -m pip install --upgrade pip
    python3 -m pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    python3 -m pylint calculator main.py
  displayName: 'Run pylint'

- script: |
    python3 -m pytest \
      --cov=calculator \
      --cov-report=xml:coverage.xml \
      --cov-report=html:htmlcov \
      --cov-fail-under=80 \
      --junitxml=test-results.xml
  displayName: 'Run tests with coverage (>= 80%)'

- task: PublishTestResults@2
  displayName: 'Publish test results'
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: 'test-results.xml'
    failTaskOnFailedTests: true


- task: PublishCodeCoverageResults@2
  displayName: 'Publish code coverage'
  condition: succeededOrFailed()
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage.xml'
    reportDirectory: '$(System.DefaultWorkingDirectory)/htmlcov'
    failIfCoverageEmpty: true